{% extends 'base_file.html' %} {% block htm %}

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <h4 style="margin-left: 10px; margin-top: 5px;"> Pharmacist Login</h4>

            <ul class="navbar-nav ml-auto">
                <li class="mx-3">

                    <a href="#" class="sm-submenu-with-image a">
                        <span>{{user.first_name}}  {{user.last_name}}</span>
                        <img src="{{request.user.pharmacist.profile_pic.url}}" class="img-circle elevation-1" width="38" height="38" alt="">
                        <span class="avatar-status avatar-sm-status avatar-status-success"></span>
                    </a>
                </li>


                <li class="nav-item dropdown ml-3 low">
                    <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent " data-toggle="dropdown" aria-expanded="false" data-wow-delay="0.7s"><img src="https://img.icons8.com/ios/50/000000/settings.png" width="19" height="19">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">

                        <a href="{% url 'pharmacist_profile'%}" class="dropdown-item">
                            <i class="fas fa-user-edit mr-2"></i> Update Profile
                        </a>
                        <div class="dropdown-divider"></div>

                        <a href="{%  url 'logout' %}" class="dropdown-item">
                            <i class="fas fa-power-off mr-2"></i> Logout
                        </a>
                        <div class="dropdown-divider"></div>


                    </div>

                </li>


            </ul>

        </nav>

        {% include 'pharmacist_templates/sidebar.html'%}

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">
                                {% block page_title %} {% endblock page_title %}
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="">Home</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            {% block main_content %} {% endblock main_content %}

        </div>
        {% include 'hod_templates/footer.html'%}




    </div>

    {% endblock htm %}