{% extends 'pharmacist_templates/base_template.html'%}
{% block page_title %}
<h5>All patients</h5>
{% endblock page_title %}

{% block link %}
<li class="breadcrumb-item active">all patients </li>
{% endblock link %}

{% block main_content %}
<style>
    table {border-collapse:collapse;  width:310px;}
    table td { width:100px; word-wrap:break-word;}



  

    </style>


<section class="content">
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}
        <div class="row">
        
                <div class="col-md-12">
                       
                    <div class="card card-primry  sc">
                            <div class="card card-primar sc">
                                    <div class="card-header">
                                        <span>Patiets Records</span>
                                       <div class="card-tools d-flex">
                                           
                                      
                                    
                    
                                </div>
                    
                                    </div>
                        <table class="table table-bordered table-hover dataTable" >
                            <thead>
                                    <tr>
                                            <th>ID</th>
                                            <th>Patient FullName</th>
                                        
                                            <th>Dispensed Drug</th>

                                            <th>Dispensed Quantity</th>
                                            <th>Instructions</th>
                                            <th>Date Precribed</th>
                                             
                    
                                             <th class="text-center">Action</th>
                                            
                
                                    </tr>
                            </thead>
                             <tbody>
                                    {% for prescrip in prescrips %}
                                       <tr class="hov">
                                            <td>{{prescrip.id}}</td>
                                       
                                        <td>{{prescrip.patient_id.first_name}}  &nbsp;  &nbsp;  &nbsp;     {{prescrip.patient_id.last_name}}</td>

                                
                                        <td>{{prescrip.drug_id}}</td>
                                        <td class="text-center pt-2">{{prescrip.dispense_quantity}}</td>
                                        <td>{{prescrip.instructions}}</td>
                                        <td>{{prescrip.dispense_at}}</td>
                                        <td><a href="{% url 'del_disp' prescrip.id %}" class="btn btn-sm btn-danger">Delete</a>                     




                
                
                                    </tr>
                                    {% endfor %}
                             </tbody>
                           
                        </table>

                        
                    </div>
                </div>
            </div>
</section>

{% endblock %}