
{% extends 'pharmacist_templates/base_template.html'%}
{% load crispy_forms_tags %}

{% block page_title %}
<h5>Reply Feedback</h5>

{% endblock page_title %}
{% block main_content %}

<style>
   .you,.me{
       display: none !important;
   }
 
</style>
<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Feedback</h3>
                        </div>
{% include 'pharmacist_templates/alert_messeges.html' %}

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                   
                                    <th>Messages</th>
                                   
                                </tr>
                                </thead>

                                {% for feedback in feedbacks %}
                                <tbody>
                                <tr>
                                 <td class="you">{{ feedback.id }}</td>
                                    <td class="me">{{ feedback.patient_id.admin.first_name }} {{ feedback.patient_id.admin.last_name }}</td> 


                                    <td>


                                        <div class="message info">
                                            <img alt="" class="img-circle medium-image" src="{{feedback.patient_id.profile_pic.url}}">
                    
                                            <div class="message-body">
                                                <div class="message-info">
                                                    <h4>{{feedback.patient_id}}</h4>
                                                    <h5> <i class="fa fa-clock-o">{{feedback.created_at}}</i> </h5>
                                                </div>
                                                <hr>
                                                <div class="message-text">
                                                    {{feedback.feedback}}
                                                </div>
                                            </div>
                                            <br>
                                        </div>


                                 
                                        {% if feedback.feedback_reply == "" %}
                                            <button class="btn btn-sm btn-success reply_open_modal" data-toggle="modal" data-target="#replyModal">Reply</button>
                                        {% else %}
                                        <div class="message my-message">
                                            <img alt="" class="img-circle medium-image" src="{{user.pharmacist.profile_pic.url}}">
                        
                                                <div class="message-body">
                                                    <div class="message-body-inner">
                                                        <div class="message-info">
                                                            <h4> {{user.username}}</h4>
                                                            <h5> <i class="fa fa-clock-o"></i>{{feedback.created_at}}</h5>
                                                        </div>
                                                        <hr>
                                                        <div class="message-text">
                                                         {{feedback.feedback_reply}}
                
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div> 

                                        {% endif %}
                                        
                                    </td>
                                    <td>

                                        <a href="{% url 'delete_fed' feedback.id %}" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                                {% endfor %}

                            </table>
                        </div>
                    
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

      {% comment %} Modal to Reply Feedback {% endcomment %}
      <!-- Modal -->
        <div class="modal fade mt-5" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reply Feedback</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Reply to: <b><span id="reply_name"></span></b></p>
                <input type="hidden" id="reply_id" name="reply_id" />
                <textarea class="form-control" rows="5" id="reply_message"></textarea>
            </div>
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
                <button type="button" class="btn btn-info btn-block" id="reply_button">Reply</button>
            </div>
            </div>
        </div>
        </div>

  {% endblock main_content %}

  {% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

  {% block js %}
    <script>
        $(document).ready(function(){
            $(".reply_open_modal").click(function(){
                var id = $(this).parents("tr").children("td:eq(0)").text(); 
                var name = $(this).parents("tr").children("td:eq(1)").text(); 
                
                $("#reply_id").val(id);
                $("#reply_name").text(name);
            });

            $(document).on("click", "#reply_button", function(){
                $(this).attr("disabled", "disabled")
                $(this).text("Sending Reply...")

                

                var id=$("#reply_id").val();
                var reply=$("#reply_message").val();
                
              
                $.ajax({
                    url:'{% url 'patient_feedback_message_reply' %}',
                    type:'POST',
                    data:{id:id, reply:reply},
                })

                
                .done(function(response){
                    
                    if(response=="True")
                    {
                        alert("Reply Sent!")
                    }
                    else
                    {
                        alert("Failed to Send Reply!")
                    }
                    location.reload()
                    
                })

                .fail(function(){
                    alert("Error in Sending Feedback Reply.")
                })

            })

        })
    </script>
  {% endblock js %}