{% extends 'hod_templates/base_template.html'%}
{% load crispy_forms_tags %}

{% block page_title %}
<h5>Add patient</h5>

{% endblock page_title %}
{% block main_content %}
<section class="content">
    
   
        <div class="row">
                <div class="col-md-12">

                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Pharmacist</h3>
                    </div>
                   
                    <form  method="POST" style="font-size:13px;" class='px-3 py-2'>
                            {% csrf_token %}

                            {% if messages %}
                            <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                {% elif message.tags == "success" %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                            {% endif %}
                            <div class="card-body">
                                
    
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" name="username" placeholder="Username" id="id_username">
                                </div>
    
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
    
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" name="first_name" placeholder="First Name">
                                </div>
    
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" name="email" placeholder="Enter email" id="id_email">
                                </div>
                                <div class="form-group">
                                    <label>Mobile</label>
                                    <input type="text" class="form-control" name="mobile" placeholder="Phone Number">
                                </div>
    
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" name="address" placeholder="Address"></textarea>
                                </div>
    
                                
                            </div>
                                                   <input type="submit" class="btn btn-primary" >
                                                   {{address}}
                        </form>
                    </div>

                </div>
            </div>
</section>
{% endblock main_content %}
