
{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block main_content %}
{% load static %}
<style>
.text-muted{
	display: none !important;
	/* color:red !important; */
}
.back{
	
	height: 100vh;
	background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7_3c7yrPY5gWKW8R50KETpRXUNH7BdCyxwFsAMEFBrzI_pe-cb-D-qJ_MFwDL8hdQ0B8&usqp=CAU);
     background-repeat:no-repeat;
	 background-size: cover;
}
.is-invalid ,.text-input,.form-control{
    border: 1px solid #d8d8d8 !important;
	background: none !important;
	color:white !important;
}
.bg-dark{
	background-color: rgb(51, 42, 75,.5) !important;
}
.card{
	border-radius: 10px !important;
}

</style>
<div class="back">
		<div class="container">
				<div class="row d-flex align-items-center justify-content-center">
					<div class="col-md-5  mt-5 pb-5 ">
						<div class="card py-5 bg-dark">
							<div class="card-body">
								<div class="text-center">
										<h3 class="text-center pb-3" >Enter new password</h3>
		
										<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
								</div>
								
									
									<form  method="post" action="" >
									
										{% csrf_token %}
									
														 {{form|crispy}}
												
									
									
									 <div class="form-group">
										
										<input type="Submit" class="btn btn-block btn-primary mt-5" name="Update Password">
										
									 </form>
							</div>
								
						</div>
		
		</div>
		</div>
		</div>
</div>


{% endblock main_content %}
