{% extends 'base.html'%} {% load crispy_forms_tags %} {% block main_content %} {% load static %}
<style>
    .reset {
        height: 100vh;
    }
    
    .fa-lock {
        font-size: 4rem;
        color: rgb(196, 238, 255);
    }
    
    .btn {
        background: #64d3ff !important;
        transition: all .5s;
    }
    
    .btn:hover {
        background: rgb(90, 169, 243) !important;
        color: black !important;
    }
    
    .card {
        border-radius: 10px;
    }
    
    .form-group {
        margin-top: 30px !important;
    }
</style>
<div class="reset bg-light">
    <div class="container h-100">
        <div class="row  d-flex justify-content-center align-content-center h-100">
            <div class="col-md-5">
                <div class="card py-5 ">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-lock text-center "></i>

                        </div>
                        <h3 class="text-center pt-3">Password reset</h3>


                        <div class="card-body">
                            <p class="text-center">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                            <form method="post">

                                {% csrf_token %} {{form|crispy}}
                                <input type="Submit" class="btn  btn-block btn-primary mt-5" name="Send email">

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<div>



</div>


{% endblock main_content %}