{% extends 'patient_templates/base_template.html'%} {% block page_title %}
<h5>All patients</h5>
{% endblock page_title %} {% block link %}
<li class="breadcrumb-item active">all patients </li>
{% endblock link %} {% block main_content %}

<section class="content">
    {% include 'patient_templates/alert_messeges.html' %}

    <div class="row">

        <div class="col-md-12">

            <div class="card card-primry  sc">
                <div class="card card-primar sc">
                    <div class="card-header">
                        <span>Patiets Records</span>
                        <div class="card-tools d-flex">

                            <form role="form" method="POST" action="" enctype="multipart/form-data" class="mr-4 mt-1">
                                {% csrf_token %}
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>


                        </div>

                    </div>
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Description</th>

                                <th>Precription</th>
                                <th>Date Precribed</th>


                                <th class="text-center">Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            {% for prescrip in prescrips %}
                            <tr class="hov">
                                <td>{{forloop.counter}}</td>

                                <td>{{prescrip.patient_id.first_name}}</td>

                                <td>{{prescrip.patient_id.last_name}}</td>
                                <td>{{prescrip.description}}</td>
                                <td>{{prescrip.prescribe}}</td>
                                <td>{{prescrip.date_precribed}}</td>
                                <td><a href="{% url 'doctor_prescrip_delete' prescrip.id %}" class="btn btn-sm btn-danger">Delete</a>



                                    <a href="{% url 'doctor_prescrip_edit' prescrip.id  %}" class="btn btn-sm btn-success">Edit</a></td>



                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>


                </div>
            </div>
        </div>
</section>

{% endblock %}