{% extends 'hod_templates/base_template.html'%} {% block main_content %}
<div class="content">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Update Profile</h3>
            </div>
            <form action="" method="post" action="{% url 'hod_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">

                    {% if messages %}
                    <div class="form-group">
                        <div class="col-12">
                            {% for message in messages %} {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                            </div>
                            {% elif message.tags == "success" %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                            </div>
                            {% endif %} {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <h6 class="heading-small text-muted ">User information</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Username</label>
                                    <input type="text" class="form-control" name="username" value="{{ user.username }}" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Email </label>
                                    <input type="text" class="form-control" name="email" value="{{ user.email }}" disabled="disabled">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">First Name </label>
                                    <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label class="form-control-label">Last Name </label>
                                    <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-1">Contact information</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group focused">
                                    <label class="form-control-label" for="input-address">Address</label>
                                    <input class="form-control" placeholder="Home Address" name="address" type="text" value="{{staff.address}}">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group focused">
                                    <label class="form-control-label" for="input-city">Mobile</label>
                                    <input type="text" id="input-city" name="mobile" class="form-control" placeholder="City" value="{{staff.mobile}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic">

                            </div>
                        </div>

                    </div>


                    <div class="card-footer mt-3">
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>
{% endblock %}