{% extends 'hod_templates/base_template.html'%} {% load crispy_forms_tags %} {% block page_title %}
<h5>All patients</h5>

{% endblock page_title %} {% block main_content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <form role="form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %} {{form|crispy}}

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send message</button>

            </form>

        </div>
    </div>
</div>
{% endblock %}