<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link ml-2">
        <img src="{{request.user.adminhod.profile_pic.url}}" alt="" width="36" height="36" class=" img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light mt-1 ml-3 mmust">H3TS</span>
    </a>


    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mr-3">
            <div class="pull-left image sm-submenu-with-image a ml-2 ">
                <img src="{{request.user.adminhod.profile_pic.url}}" class="img-circle mt-2" width="36" height="36" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{user.first_name}} {{user.last_name}}</p>
                <a href="#"><i class="fa fa-circle text-success "></i> Online</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="{% url  'admin_dashboard' %}" class="nav-link">
                        <i class="fas fa-tachometer-alt mr-2"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-hospital-user mr-2"></i>
                        <p>
                            Patient
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'patient_form' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Patient</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'all_patients'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Patient</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-address-book mr-2"></i>
                        <p>
                            Pharmacist
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'add_pharmacist' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Pharmacist</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_pharmacist'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Pharmacist</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-briefcase-medical mr-2"></i>
                        <p>
                            Doctor
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'add_doctor' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Doctor</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_doctor'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Doctor</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-chalkboard-teacher mr-2"></i>
                        <p>
                            PharmacyClerk
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'add_pharmacyClerk' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add PharmacyClerk</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_pharmacyClerk'  %}" class="nav-link">
                                <i class="fas fa-th"></i>

                                <p class="pl-2">Manage PharmacyClerk</p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-layer-group mr-2"></i>
                        <p>
                            Stocked Drugs
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'add_stock' %}" class="nav-link">
                                <i class="fas fa-capsules"></i>
                                <p class="pl-2">add Drug</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'add_category'  %}" class="nav-link">
                                <i class="fas fa-pills"></i>
                                <p class="pl-2">Add Category</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_stock'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Stock</p>
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>