{% extends 'clerk_templates/base_template.html'%} {% block page_title %} {% endblock page_title %} {% block main_content %}
<div class="small-container card p-4 ml-5" style='width:600px;'>
    <form action="" method="POST">
        {% csrf_token %}


        <legend>Delete Patient </legend>
        <h2>Are You sure you want to delete Details</h2>
        <button type="submit" class="btn btn-danger text-dark">Yes, Delete</button>
        <a href="" class="btn btn-outline-secondary text-dark">Cancel</a>
        <br>

    </form>
</div>
{% endblock %}