<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="" class="brand-link ml-2">
        <img src="{{request.user.pharmacyclerk.profile_pic.url}}" alt="" width="36" height="36" class=" img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light mt-1 ml-3 mmust">H3TS</span>
    </a>


    <div class="sidebar">
        <div class="user-panel mr-3">
            <div class="pull-left image ml-2">
                <img src="{{request.user.pharmacyclerk.profile_pic.url}}" class="img-circle mt-2" width="36" height="36" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{user.first_name}} {{user.last_name}}</p>
                <a href="#"><i class="fa fa-circle text-success "></i> Online</a>
            </div>
        </div>


        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="{% url  'clerk_home' %}" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Patient
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item pl-2">
                            <a href="{% url 'patient_form2' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">Add Patient</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'all_patients2' %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Patient</p>
                            </a>
                        </li>

                    </ul>
                </li>


            </ul>
        </nav>
    </div>
</aside>